.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-8);
    font-family: inherit;
    font-weight: 600;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    outline: none;

    &:disabled,
    &--disabled {
        cursor: not-allowed;
        opacity: 0.6;
        pointer-events: none;
    }
}

/* Size Variants */
.btn-small {
    height: var(--space-32);
    padding: 0 var(--space-12);
    font-size: var(--font-14);
    border-radius: var(--radius-sm);
}

.btn-medium {
    height: var(--space-40);
    padding: 0 var(--space-16);
    font-size: var(--font-16);
    border-radius: var(--radius-md);
}

.btn-large {
    height: var(--space-48);
    padding: 0 var(--space-20);
    font-size: var(--font-18);
    border-radius: var(--radius-xl);
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
  
}
.btn-primary:hover {
  background-color: color-mix(in srgb, var(--primary), black 10%);
}
