.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-weight: 600;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    outline: none;

    &:disabled,
    &--disabled {
        cursor: not-allowed;
        opacity: 0.6;
        pointer-events: none;
    }
}

.btn-large {
    height: var(--ramps-48);
    border-radius: var(--radius-md);
}

.btn-primary {
    padding: var(--ramps-28);
    color: var(--global-colors-blue-500);
    background: var(--global-colors-red-400);
}
